@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1920px;
    margin: auto;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .succes-message {
        display: none; 
        background-color: rgb(1, 160, 1);
        position: fixed;
        top: 0;
        left: 0;
        max-width: 1920px;
        width: 100%;
        text-align: center;
        padding: 5px;
        z-index: 100;
    
    
        .text-content {

            h4 {
                font-size: 16px;
                color: white;
                i {
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
        }
    }

    .logo {
        img {
            width: 120px;
            
        }
    }
    .search {
        display: flex;
        position: relative;
        gap: 50px;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition: all 0.3s;
        }

        a:hover {
            color:rgba(6, 10, 255, 0.705);
        }
        input {
            padding: 8px 25px;
            border: 1px solid #E0E0E0;
            width: 300px;
            outline: none;
        }
        button {
            padding: 0px 10px;
            border: none;
            font-size: 16px;
            color: white;
            background-color: rgba(6, 10, 255, 0.705);
            cursor: pointer;
            
        }
        i {
            position: absolute;
            font-size: 27px;
            font-weight: bold;
            right: 70px;
            cursor: pointer;
            display: none;
        }

   
    }
    .right-content {
        display: flex;
        gap: 10px;
        font-size: 30px;
        gap: 20px;
        position: relative;
        button, a {
            background-color: transparent;
            border: none;
            font-size: 30px;
            cursor: pointer;
            color:rgba(6, 10, 255, 0.705);
        }
        button {
            display: none;
        }
        h4 {
            font-size: 18px;
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            position: absolute;
            border-radius: 50%;
            right: -15px;
            top: -10px;
            display: none;
            color: red;

        }

        
    }

}
.order {
    max-width: 1920px;
    margin: auto;
    display: flex;
    padding: 100px 50px;
    gap: 100px;
    align-items: center;
    justify-content: space-evenly;

    .left-content {
        display: flex;
        border: 1px solid #E0E0E0;

        .img-content {
            img {
                width: 400px;
            }
        }
    }
    .text-content {
        width: 300px;
        padding-right: 20px;
        padding-top: 20px;
        border-left: 1px solid #E0E0E0;
        padding-left: 20px;
        padding-bottom: 20px;
        h4:nth-child(1) {
            font-size: 20px;
            margin-bottom: 50px;
            font-weight: bold;
        }
        h4 {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 18px;
        }
        h4:nth-child(5) {
            font-size: 20px;
            margin-bottom: 50px;
            font-weight: bold;
        }
        span {
            font-size: 17px;
            margin-right: 30px;
            font-weight: bold;
            font-style: italic;
            color: rgb(107, 98, 98);

        }
        .price {
            font-weight: bold;
            color: black;
            font-size: 24px;
            font-style: normal;
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            button {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 24px;
                padding: 10px;
                background-color: transparent;
                border: 1px solid black;
                border-radius: 5px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            h4 {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .right-content {
        width: 400px;

        .content-right-chek{
            border: 1px solid #a09e9e;
            padding: 20px 20px;

            .summa {
                h1 {
                    font-size: 30px;
                    margin-bottom: 50px;

                }
            }
            .content-number {
                h4 {
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 18px;

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        
                    }
                }
            }
            .price {
                display: flex;
                margin-top: 20px;
                align-items: center;
                justify-content: space-between;
                span {
                    font-weight: bold;
                }

                h2 {
                    font-size: 30px;
                    span {
                        font-size: 24px;
                        color: rgb(102, 100, 100);
                    }
                }

            }
            .button {
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    padding: 5px 20px;
                    width: 400px;
                    background-color:rgba(6, 10, 255, 0.705);
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }

    }
}
footer {
    border-top: 1px solid #E0E0E0;
    margin-top: 100px;
    max-width: 1920px;
    margin: auto;
    padding: 30px 300px;

    .content-footer {
        display: flex;
        justify-content: space-between;

        .column1,
        .column2,
        .column3 {
            .text-content{

                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    font-weight: 400;
                }
                a {
                    text-decoration: none;
                    color: rgb(116, 114, 114);
                    margin-bottom: 10px;
                }
            }
        }
    }
    .end {
        margin-top: 50px;
        text-align: center;
        h5 {
            font-weight: 400;
            font-style: italic;
        }
        .bishkek{
            border-top: 1px solid silver;
            margin-top: 10px;
            padding: 20px;
        }
    }
}


@media (max-width: 500px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
        width: 100%;
    }
    .container {
        padding: 20px;
        width: 100%;
        h1 {
            color: red;
            display: none;
        }

    }
    .order{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;

        .left-content {
            flex-direction: column;
            .img-content {
                img {
                    width: 350px;
                }
            }
        }
        .right-content {
            width: 350px;
        }
    }
    footer {
        padding: 10px;
        width: 100%;
        .content-footer{
            flex-direction: column;
        }
    }
}
@media (max-width: 400px) {
    .order{
        .left-content{
            .img-content {
                img {
                    width: 300px;
                }
            }
        }
        .right-content {
            width: 300px;
            .content-right-chek {
                .summa {
                    h1 {
                        font-size: 20px;
                    }
                }
                .price {
                    h2 {
                        font-size: 20px;
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }


        }
     
    }
}
@media (max-width: 1200px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .order{
        flex-direction: column;
    }
    footer {
        padding: 50px;
    }
}
@media (max-width: 700px) {
    .container {
        padding: 30px;
        h1 {
            color: red; 
            display: none;
        }
    }
    footer {
        .content-footer {
            flex-direction: column;
        }
    }
}